<!-- doc + tab -->
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Main</h1>
    <div>{{category}}</div> <!-- model로 데이터바인딩한 값 중괄호 두개로 값 받아오기, 리스트 전체 출력됨 -->

    <ul>
    {{#category}}
        <li>{{categoryName}}</li>
    {{/category}}
    </ul>
</body>
</html>